extends layout

append links
	link(rel='stylesheet' href=assetsDirectory+'/css/pages/details.css')

block content
	.section.row.title-section
		.col-md-8
			nav(aria-label='breadcrumb')
				ol.breadcrumb
					li.breadcrumb-item
						a(href='patients.html') pacientes
					li.breadcrumb-item.active(aria-current='page') Juan Pérez
		.col-md-4
			button.btn.btn-dark-red-f-gr
				i.las.la-edit
				| editar paciente
	.section.patient-details-section
		.row
			.col-md-8
				.row
					.col-sm-12
						.card
							.row
								.col-md-4
									.mini-card.text-center
										.card-header
											img.rounded-circle(src='https://placebeard.it/640x360' loading='lazy')
										.card-body
											h4 Juan Pérez
											small.text-muted juanperez@abc.com
											h5 edad
											p 26
										.card-footer
											button.btn.btn-dark-red-f
												i.las.la-sms
												| enviar mensaje
								.col-md-8.patients-details-card-wrapper
									.mini-card
										.card-body
											.row
												.col-md-4
													.form-group
														label género
														input.form-control(readonly value="masculino")
												.col-md-4
													.form-group
														label fecha de nacimiento
														input.form-control(readonly value="27/10/1986")
												.col-md-4
													.form-group
														label número de teléfono
														input.form-control(readonly value="(254) 727 4432")
												.col-md-4
													.form-group
														label dirección
														input.form-control(readonly value="Av. Corrientes 1234")
												.col-md-4
													.form-group
														label ciudad
														input.form-control(readonly value="Buenos Aires")
												.col-md-4
													.form-group
														label código postal
														input.form-control(readonly value="21332")
												.col-md-4
													.form-group
														label estado de miembro
														input.form-control(readonly value="activo")
												.col-md-4
													.form-group
														label fecha de registro
														input.form-control(readonly value="21/02/2018")
												.col-md-4
													.form-group
														label obra social
														input.form-control(readonly value="OSDE")
												.col-md-4
													.form-group
														label nro de afiliado
														input.form-control(readonly value="123-456789-00")
					.col-sm-12
						.card
							.card-header
								h5.mb-0 Datos Familiares
							.card-body.pt-3
								.row
									.col-md-6
										h6.text-muted.mb-3 Datos de la Madre
										.form-group
											label Nombre de la madre
											input.form-control(readonly value="Maria Gonzalez")
										.form-group
											label teléfono
											input.form-control(readonly value="11-5555-4444")
										.form-group
											label ocupacion
											input.form-control(readonly value="Ama de casa")
									.col-md-6
										h6.text-muted.mb-3 Datos del Padre
										.form-group
											label nombre del padre
											input.form-control(readonly value="Carlos Pérez")
										.form-group
											label teléfono
											input.form-control(readonly value="11-6666-7777")
										.form-group
											label ocupacion
											input.form-control(readonly value="Contador")
					.col-sm-12
						.card
							.card-body
								ul#myTab.nav.nav-tabs(role='tablist')
									li.nav-item(role='presentation')
										a#upcoming-appointments-tab.nav-link.active(data-toggle='tab', href='#upcoming-appointments', role='tab', aria-controls='upcoming-appointments', aria-selected='true') próximas citas
									li.nav-item(role='presentation')
										a#past-appointments-tab.nav-link(data-toggle='tab', href='#past-appointments', role='tab', aria-controls='past-appointments', aria-selected='false') citas pasadas
									li.nav-item(role='presentation')
										a#medical-records-tab.nav-link(data-toggle='tab', href='#medical-records', role='tab', aria-controls='medical-records', aria-selected='false') historia clínica
								#myTabContent.tab-content
									#upcoming-appointments.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='upcoming-appointments-tab')
										.section-title
											button.btn.btn-dark-red-f.btn-sm
												i.las.la-calendar-plus
												| crear una cita
										.media
											.align-self-center
												p mar
												h3 05
												p 2020
											.media-body
												.row
													label.label-green-bl consulta
													p con Dr. García
													p
														i.las.la-tv
														| por zoom
													p
														i.las.la-clock
														| 10.30 - 11.00
													label.label-cream.label-sm
														i.las.la-hourglass-half
														| 30 min
													a(href='')
														i.las.la-ellipsis-v
												.row
													label.label-blue-bl tratamiento de conducto
													p con Dr. García
													p
														i.las.la-tv
														| por zoom
													p
														i.las.la-clock
														| 13.30 - 14.15
													label.label-cream.label-sm
														i.las.la-hourglass-half
														| 45 min
													a(href='')
														i.las.la-ellipsis-v
										.media
											.align-self-center.mr-3
												p mié
												h3 06
												p 2020
											.media-body
												.row
													label.label-orange-bl consulta
													p con Dr. García
													p
														i.las.la-tv
														| por zoom
													p
														i.las.la-clock
														| 10.30 - 11.00
													label.label-cream.label-sm
														i.las.la-hourglass-half
														| 30 min
													a(href='')
														i.las.la-ellipsis-v
												.row
													label.label-pink-bl tratamiento de conducto
													p con Dr. García
													p
														i.las.la-tv
														| por zoom
													p
														i.las.la-clock
														| 13.30 - 14.15
													label.label-cream.label-sm
														i.las.la-hourglass-half
														| 45 min
													a(href='')
														i.las.la-ellipsis-v
									#past-appointments.tab-pane.fade(role='tabpanel', aria-labelledby='past-appointments-tab') ...
									#medical-records.tab-pane.fade(role='tabpanel', aria-labelledby='medical-records-tab') ...
			.col-md-4
				.card.notes-card
					.card-header
						h5 notas
							button.btn.btn-dark-red-f.btn-sm ver todo
					.card-body
						textarea.form-control(placeholder='puedes escribir notas del paciente aquí' rows='6')
						button.btn.btn-dark-red-f.float-right.btn-sm
							i.las.la-save
							| guardar nota
					.card-footer
						.float-left
							p
								i.las.la-user
								| dr. garcía
						.float-right
							p 04, may, 2020
				.card.files-card
					.card-header
						h5 archivos
							button.btn.btn-dark-red-f.btn-sm
								i.las.la-file-medical
								| agregar archivo
					.card-body
						.list-group.list-group-flush
							a(href="#").list-group-item
								i.las.la-file-excel
								| resultados_chequeo.csv
								.float-right
									small.text-muted 123kb
									.action-buttons.no-display
										button.btn.btn-sm.btn-dark-red-f
											i.las.la-trash
										button.btn.btn-sm.btn-dark-red-f
											i.las.la-download
							a(href="#").list-group-item
								i.las.la-file-excel
								| recetas_dentales.csv
								.float-right
									small.text-muted 3.5mb
									.action-buttons.no-display
										button.btn.btn-sm.btn-dark-red-f
											i.las.la-trash
										button.btn.btn-sm.btn-dark-red-f
											i.las.la-download
							a(href="#").list-group-item
								i.las.la-file-pdf
								| rayos_x.pdf
								.float-right
									small.text-muted 2.1mb
									.action-buttons.no-display
										button.btn.btn-sm.btn-dark-red-f
											i.las.la-trash
										button.btn.btn-sm.btn-dark-red-f
											i.las.la-download
							a(href="#").list-group-item
								i.las.la-file-word
								| informe_consulta.doc
								.float-right
									small.text-muted 2mb
									.action-buttons.no-display
										button.btn.btn-sm.btn-dark-red-f
											i.las.la-trash
										button.btn.btn-sm.btn-dark-red-f
											i.las.la-download
