extends layout

append links
	link(rel='stylesheet' href=assetsDirectory + '/css/pages/procurement.css')

block content
	.section.title-section
		.row
			.col-md-6
				h5.page-title
			.col-md-6
				button.btn.btn-dark-red-f-gr
					i.las.la-plus-circle
					| crear una solicitud
	.section.filters-section
		.row
			.col-lg-8.col-md-6
				button.btn.btn-dark-red-o.mr-2
					i.las.la-filter
					| filtrar
				button.btn.btn-dark-red-o
					i.las.la-sort
					| ordenar
			.col-lg-4.col-md-6
				.input-group
					.input-group-prepend
						span.input-group-text
							i.las.la-search
					input.form-control(placeholder='buscar por título, propietario o proveedor')
	.section.content-section
		table.table.table-hover.table-responsive-lg
			thead
				tr
					th solicitudes
					th ítems
					th fecha de creación
					th creado por
					th estado
					th
			tbody
				tr
					td
						p camillas de hospital
						small.text-muted POR/2901/21
					td 200
					td 11 abr 2020
					td Juan Pérez
					td
						label.label-orange.label-md en curso
					td
						button.btn
							i.las.la-ellipsis-h
				tr
					td
						p desfibriladores
						small.text-muted POR/2901/22
					td 120
					td 13 abr 2020
					td Juan Pérez
					td
						label.label-blue.label-md pendiente
					td
						button.btn
							i.las.la-ellipsis-h
				tr
					td
						p máquinas de anestesia
						small.text-muted POR/2901/23
					td 20
					td 13 abr 2020
					td Juan Pérez
					td
						label.label-blue.label-md pendiente
					td
						button.btn
							i.las.la-ellipsis-h
				tr
					td
						p monitores de paciente
						small.text-muted POR/2901/24
					td 20
					td 13 abr 2020
					td Juan Pérez
					td
						label.label-green.label-md completado
					td
						button.btn
							i.las.la-ellipsis-h
				tr
					td
						p esterilizadores
						small.text-muted POR/2901/25
					td 23
					td 13 abr 2020
					td Juan Pérez
					td
						label.label-green.label-md completado
					td
						button.btn
							i.las.la-ellipsis-h
				tr
					td
						p mesas quirúrgicas
						small.text-muted POR/2901/26
					td 230
					td 13 abr 2020
					td Juan Pérez
					td
						label.label-green.label-md completado
					td
						button.btn
							i.las.la-ellipsis-h
				tr
					td
						p luces quirúrgicas
						small.text-muted POR/2901/27
					td 102
					td 13 abr 2020
					td Juan Pérez
					td
						label.label-green.label-md completado
					td
						button.btn
							i.las.la-ellipsis-h
