extends layout

append links
	link(rel='stylesheet' href=assetsDirectory + '/css/pages/settings.css')

block content
	.section
		h5.page-title Ajustes
	.section.profile-section
		.card.container
			.card-header
				h5 Detalles Personales
				p Esta sección contiene tu información básica de perfil como nombre, email, etc.
			.card-body
				.sub-section.col-lg-10.col-md-12
					.sub-section-title
						h6 Foto de Perfil
					.sub-section-body
						.row
							.col-lg-2.col-md-4
								img(src=assetsDirectory+'/images/doctor.svg').rounded-circle
							.col-lg-6.col-md-8
								.d-flex.mb-2
									button.btn.btn-sm.btn-dark-red-f
										i.las.la-upload
										| Subir nueva foto
									button.btn.btn-sm.btn-darker-grey-o.ml-2
										i.las.la-trash
										| Eliminar
								p Puedes subir archivos de imagen .jpg, .gif o .png
								p Tamaño máximo del archivo
									b  3mb
				.sub-section.col-md-12.col-lg-8
					.sub-section-title
						h6 Detalles del Perfil
					.sub-section-body
						.user-details-form
							.form-row
								.form-group.col-sm-6
									label Nombre
									input.form-control(value='Juana')
								.form-group.col-sm-6
									label Apellido
									input.form-control(value='Pérez')
								.form-group.col-sm-8.col-md-12.col-lg-8
									label Dirección de Email
									input.form-control(value='abc@def.com')
								.form-group.col-sm-8.col-md-12.col-lg-8
									label Número de Teléfono
									input.form-control(value='+243989120' type='tel')
							button.btn.btn-dark-red-f-gr.mt-4
								i.las.la-save
								| Guardar Cambios
		.card.container
			.card-header
				h5 Contraseña
				p Una contraseña segura e información de recuperación actualizada ayudan a proteger tu cuenta.
			.card-body
				.sub-section.col-sm-8.col-md-12.col-lg-8
					.sub-section-body
						.user-password-form
							.form-row
								.form-group.col-sm-8
									label Contraseña Actual
									input.form-control(value='password' type='password')
								.form-group.col-sm-8
									label Nueva Contraseña
									input.form-control(value='abc@def.com' type='password')
								.form-group.col-sm-8
									label Re-escribe la Nueva Contraseña
									input.form-control(value='abc@def.com' type='password')
							button.btn.btn-dark-red-f-gr.mt-4
								i.las.la-sync
								| Cambiar mi Contraseña
		.card.container
			.card-header
				h5 Boletines y Notificaciones
				p Controla las suscripciones a boletines y las notificaciones por email.
			.card-body
				.sub-section.col-sm-8.col-md-12.col-lg-6
					.sub-section-body
						.user-notifications-form
							.custom-control.custom-switch
								input#customSwitch1.custom-control-input(type='checkbox')
								label.custom-control-label(for='customSwitch1') Suscribirse a nuestro boletín mensual
							.custom-control.custom-switch
								input#customSwitch2.custom-control-input(type='checkbox' checked)
								label.custom-control-label(for='customSwitch2') Habilitar notificaciones personalizadas por email
							button.btn.btn-dark-red-f-gr.mt-4
								i.las.la-save
								| Guardar Cambios
