.modal.onboarding-modal(tabindex='=1')
	.modal-dialog.modal-dialog-centered
		.modal-content
			.modal-header
				h5.modal-title Bienvenido
				button(type='button' class='close' data-dismiss='modal' aria-label='Close')
					i.las.la-times-circle
			.modal-body
					#carouselExampleCaptions.carousel.slide(data-ride='carousel')
						.carousel-inner
							.carousel-item.active
								img.d-block(src='../SiteAssets/images/undraw_dashboard_nklg.svg' alt='...')
								.carousel-caption.d-md-block
									p un 
										a(href='' data-dismiss='modal') dashboard
											i.las.la-external-link-alt
										|  intuitivo
							.carousel-item
								img.d-block(src='../SiteAssets/images/undraw_medicine_b1ol.svg' alt='...')
								.carousel-caption.d-md-block
									p acceso a 
										a(href='specialists.html') especialistas
											i.las.la-external-link-alt
							.carousel-item
								img.d-block(src='../SiteAssets/images/undraw_receipt_ecdd.svg' alt='...')
								.carousel-caption.d-md-block
									p proceso simple de 
										a(href='procurement.html') adquisiciones
											i.las.la-external-link-alt
							.carousel-item
								img.d-block(src='../SiteAssets/images/undraw_new_notifications_fhvw.svg' alt='...')
								.carousel-caption.d-md-block
									p centro de 
										a(href='notifications.html') notificaciones
											i.las.la-external-link-alt
										|  completo
							.carousel-item
								img.d-block(src='../SiteAssets/images/undraw_Preferences_re_49in.svg' alt='...')
								.carousel-caption.d-md-block
									p centro de 
										a(href='settings.html') ajustes
											i.las.la-external-link-alt
										|  minimalista
						a.carousel-control-prev(href='#carouselExampleCaptions' role='button' data-slide='prev')
							i.las.la-chevron-circle-left
							span.sr-only Anterior
						a.carousel-control-next(href='#carouselExampleCaptions' role='button' data-slide='next')
							i.las.la-chevron-circle-right
							span.sr-only Siguiente
